# to compile run 'doxygen Doxygen.config'
PROJECT_NAME        = "Alira Laser Software"
### input each folder that has files to be documented, space seperated
INPUT               = src/data_analysis src/test src
OUTPUT_DIRECTORY    = DoxyFiles
GENERATE_LATEX      = YES
GENERATE_MAN        = NO
GENERATE_RTF        = NO
OPTIMIZE_OUTPUT_JAVA = YES
QUIET               = YES
JAVADOC_AUTOBRIEF   = YES
SEARCHENGINE        = NO


